{% extends 'base.html.twig' %}

{% block title %}Anim'Nord - Connexion{% endblock %}

{% block body %}
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    {% if app.user %}
        <div class="mb-3">
            You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Logout</a>
        </div>
    {% endif %}

    <main class="width_80">
        <h1 class="flexCenter title colorWhite"> Connexion </h1>
        <div id="connect" class="backgroundWhite flexCenter width_100">
            <form method="post" id="formConnect" action="/assets/php/connection.php" class="flexColumn width_50">
                <label for="inputEmail"> Adresse E-mail <span class="size15 colorBlue required">*</span></label>
                <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>
                <label for="inputPassword"> Mot de passe <span class="size15 colorBlue required">*</span></label>
                <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>
                <a href="../index.php?controller=forgetPassword" class="colorBlue underline link">Mot de passe oublié ?</a>
                <input type="submit" class="buttonEnter colorWhite radius10 pointer" value="Connexion">
                <a href="{{ path("app_register") }}" class="buttonGrey">Pas encore inscrit ?</a>
            </form>
        </div>
    </main>
    <input type="hidden" name="_csrf_token"
           value="{{ csrf_token('authenticate') }}"
    >
{% endblock %}
