{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    {% for flash_error in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}

    <main class="width_80">
        <h1 class="flexCenter title colorWhite"> Inscrivez-vous ! </h1>
        <div id="registration" class="backgroundWhite flexCenter width_100">

            {{ form_start(registrationForm, {'attr': {
                'class': 'flexColumn width_50'
                }})
            }}
            {{ form_row(registrationForm.lastname) }}
            {{ form_row(registrationForm.firstname) }}
            {{ form_row(registrationForm.email) }}
            {{ form_row(registrationForm.phone) }}
            {{ form_row(registrationForm.plainPassword) }}
            <p id="law" class="colorGrey">Loi RGPD <i class="fas fa-caret-down"></i></p>
            <p id="infoLaw" class="colorGrey size12">
                Depuis la loi n° 78-17 du 6 janvier 1978, toutes les informations recueillies sur ce formulaire, vous seront accessible, vous pourrez les rectifier, demander leur effacement en supprimant votre compte ou exercer votre droit à la limitation du traitement de vos données.
                Lorsque vous posterez une annonce, vos informations seront diffusées et vue par tous les utilisateurs accédant à l'annonce. Elles seront mises en œuvre pour pouvoir vous contacter à propos de l'annonce poster, de connaître l'identité
                de la personne qui commente une annonce. Ces informations sont les suivantes : Prénom, nom, E-mail, téléphone.
            </p>
            {{ form_row(registrationForm.agreeTerms) }}
            {{ form_row(registrationForm.submit, {'attr': {
                'class': 'buttonEnter colorWhite radius10 pointer'
                }})
            }}

            <a href="{{ path("login") }}" class="buttonGrey">Déjà un compte ?</a>

            {{ form_end(registrationForm) }}
        </div>
    </main>
{% endblock %}
