{% extends 'base.html.twig' %}

{% block title %}Anim'Nord - {{ ad.animal}} {% endblock %}

{% block body %}
    <main>
        {% if ad.userFk.active != 0 %}
            {% if ad.isVerified != 0 %}
                <div id="containerLostAd" class="marginAuto">
                    {% if app.user %}
                        {% if favorite != [] %}
                            {% for fav in favorite %}
                                {% if fav.userFk.id == app.user.id %}
                                    <a href="{{ path("delete_favorite_find", {id: fav.id}) }}"><i class='fas fa-star star2 size20'></i></a>
                                {% endif %}
                            {% endfor %}
                        {% else %}
                            <a href="{{ path("add_favorite_find", {user: app.user.id, adFind: ad.id}) }}"><i class='far fa-star star2 size20'></i></a>
                        {% endif %}
                    {% endif %}

                    <div class='post flexColumn flexCenter colorGrey'>
                        <h1 class='colorWhite margin_15_0 center categoriesAnimal width_100'>{{ ad.animal }} trouvé </h1>
                        <div class='width_70 margin_15_0 flexCenter flexColumn'>
                            {% if ad.picture == null or ad.picture == "" %}
                                {% if ad.animal == "Chien" %}
                                    <img class='imagePet' src="{{asset('build/images/nonPhotoChien.png')}}" alt="Chien" >
                                {% else %}
                                    <img class='imagePet' src="{{asset('build/images/nonPhotoChat.png')}}" alt="Chat">
                                {% endif %}
                            {% else %}
                                <img class='imagePet' src="{{asset('build/images/adFind/' ~ ad.picture)}}" alt="{{ ad.animal }}">
                            {% endif %}
                            <p class='colorGrey size12'>Date de la publication : <span class="colorBlue">{{ ad.date |date('d/m/Y') }}</span></p>
                            {% if app.user %}
                                {% for role in app.user.roles %}
                                    {% if role == "ROLE_ADMIN" or role == "ROLE_MODERATOR" %}
                                        <a class="colorWhite position1 edit1 size20" href="{{ path("adFind_edit", {id: ad.id}) }}"><i class="far fa-edit buttonGreen"></i></a>
                                        <a class="colorWhite position1 delete1 size20" href="{{ path("adFind_delete", {id: ad.id}) }}"><i class="far fa-trash-alt buttonGreen"></i></a>
                                    {% endif %}
                                {% endfor %}
                            {% endif %}
                        </div>
                        <div class='flexColumn width_70 postAnimals table'>
                            <p>Sexe : <span class="colorBlue">{{ ad.sex }}</span></p>
                            <p>Trouvé le : <span class='colorBlue'>{{ ad.dateFind |date('d/m/Y') }}</span></p>
                            <p>Trouvé à : <span class='colorBlue'>{{ ad.city }}</span></p>
                            <p>Race : <span class='colorBlue'>{{ ad.race }}</span></p>
                            {% if ad.number != null and ad.number != "" %}
                                <p>Numéro du tatouage ou de la puce : <span class="colorBlue">{{ ad.number }}</span></p>
                            {% endif %}
                            <p>Taille: <span class='colorBlue'>{{ ad.size }}</span></p>
                            <p>Poils: <span class='colorBlue'>{{ ad.fur }}</span></p>
                            <p>Couleur(s) du pelage :</p>
                            <ul id="color" class="colorBlue">
                                {% for color in ad.color %}
                                    <li>{{ color }}</li>
                                {% endfor %}
                            </ul>
                            <p>Robe : <span class='colorBlue'>{{ ad.dress }}</span> </p>
                            <p>Description : <span class='colorBlue'>{{ ad.description }}</span></p>
                        </div>
                        <div class="userAd flexColumn">
                            <p class="size20 center margin8">C'est votre animal ?</p>
                            <p>Veuillez contacter : <span class="size18 bold">{{ ad.userFk.firstname }} {{ ad.userFk.lastname }}</span></p>
                            <a href="mailto:{{ ad.userFk.email }}" class="buttonWhite margin8 colorRed"><i class="far fa-envelope"></i>Envoyer un E-mail</a>
                            <a href="tel:+{{ ad.userFk.phone }}" class="buttonWhite margin8 colorRed "><i class="fas fa-phone-alt"></i>Contacter par téléphone : {{ ad.userFk.phone  }}</a>
                        </div>
                    </div>
                </div>

                <div class="flexRow width_80">
                    {% if app.user %}
                        <a href="{{ path('adFind_comment', {adFind: ad.id}) }}" class="buttonComment"> Ajouter un commentaire</a>
                    {% else %}
                        <a href="{{ path('login') }}" class="buttonComment"> Ajouter un commentaire</a>
                        <span class="colorGrey flexCenter size12">Tu dois te connecter pour ajouter un commentaire.</span>
                    {% endif %}
                </div>

                <div id="comments" class="width_80">
                    <h1 class='colorWhite margin_15_0 center categoriesAnimal width_100'>Commentaires</h1>
                    {% if comments |length != 0 %}
                        {% for comment in comments |reverse%}
                            {% if comment.archive == 0 %}
                            <div class="commentArticle">
                                {% if app.user %}
                                    {% for role in app.user.roles %}
                                        {% if role == "ROLE_ADMIN" or role == "ROLE_MODERATOR"%}
                                            {% if app.user.id == comment.userFk.id %}
                                                <a href="{{ path('adFind_comment_edit', {id: comment.id}) }}" class="colorBlack" ><i class="far fa-edit"></i></a>
                                                <a href="{{ path('adFind_comment_archive', {id: comment.id}) }}" class="colorBlack"><i class="far fa-trash-alt"></i></a>
                                            {% endif %}
                                        {% endif %}
                                        {% if role == "ROLE_ADMIN" %}
                                            <a href="{{ path('adFind_comment_delete', {id: comment.id}) }}" class="colorBlack"><i class="fas fa-trash-alt"></i></a>
                                        {% endif %}
                                    {% endfor %}
                                {% endif %}
                                <h3 class="margin_15_0">{{ comment.userFk.firstname}} {{ comment.userFk.lastname }} <span class='colorBlue size12'> - {{ comment.date |date("d/m/Y à H:i")}} </span></h3>
                                <p>{{ comment.content }}</p>
                            </div>
                            {% endif %}
                        {% endfor %}
                    {% else %}
                        <p class="colorGrey margin_15_0 flexCenter size20">Il n'y a pas encore de commentaires !</p>
                    {% endif %}
                </div>
            {% endif %}
        {% endif %}
    </main>
{% endblock %}