{% extends 'base.html.twig' %}

{% block title %}Anim'Nord - Mes favoris {% endblock %}

{% block body %}
    {% if app.user %}
        <main>
            <div id="buttonAccount" class="buttonEnter colorWhite flexCenter">Mon compte <i class="fas fa-caret-down"></i></div>

            <div class="flexColumn marginAuto width_70" id="menuAccountMobile">
                <a href="{{ path('favorites') }}" class="colorGrey margin_0_20 linkAccount"><i class="fas fa-chevron-circle-right colorGrey"></i>Mes favoris</a>

                {% if is_granted('ROLE_ADMIN') %}
                    <a href="" class="colorOrange margin_0_20 linkAccount"><i class="fas fa-chevron-circle-right colorOrange"></i>Gestion des utilisateurs</a>
                {% endif %}
                <a href="{{ path('app_logout') }}" class="disconnection buttonRed margin_0_20 linkAccount"><i class="fas fa-sign-out-alt colorRed"></i> Me déconnecter</a>
            </div>

            <div class="flexRow flexCenter" id="menuAccount">
                <a href="{{ path('account') }}" class="colorBlue margin_0_20 linkAccount">Mes informations</a>
                <div class="separatorVertical"></div>
                <a href="{{ path('my_ad') }}" class="colorBlue margin_0_20 linkAccount">Mes annonces</a>
                <div class="separatorVertical"></div>
                <a href="{{ path('favorites') }}" class="colorBlue margin_0_20 linkAccount">Mes favoris</a>
                <div class="separatorVertical"></div>
                {% if is_granted('ROLE_ADMIN') %}
                    <a href="" class="colorOrange margin_0_20 linkAccount">Gestion des utilisateurs</a>
                    <div class="separatorVertical"></div>
                {% endif %}
                <a href="{{ path('app_logout') }}" class="disconnection buttonRed margin_0_20 linkAccount"> Me déconnecter</a>

            </div>

            <div>
                <h1 class="titleAccount">Mes favoris de chiens et de chats perdus</h1>
                {% if app.user.favoriteLosts |length != 0 %}
                    <div id="containerLostAd" class="marginAuto">
                        {% for fav in app.user.favoriteLosts %}
                            <a href="{{ path("delete_favorite_lost", {id: fav.id}) }}"><i class='fas fa-star star2 size20'></i></a>
                            <a href="{{ path("ad_lost_one", {id: fav.adLostFk.id}) }}" class='post postTransform flexRow flexCenter colorGrey'>
                                <div class='width_30'>
                                    {% if fav.adLostFk.picture == null or fav.adLostFk.picture == "" %}
                                        {% if fav.adLostFk.animal == "Chien" %}
                                            <img class='imagePet' src="{{asset('build/images/nonPhotoChien.png')}}" alt="Chien" >
                                        {% else %}
                                            <img class='imagePet' src="{{asset('build/images/nonPhotoChat.png')}}" alt="Chat">
                                        {% endif %}
                                    {% else %}
                                        <img class='imagePet' src="{{asset('build/images/adLost/' ~ fav.adLostFk.picture)}}" alt="{{ fav.adLostFk.animal }}">
                                    {% endif %}
                                </div>
                                <div class='flexColumn width_70 postAnimals'>
                                    <p class='titlePet'>{{ fav.adLostFk.animal }} ({{ fav.adLostFk.sex }})</p>
                                    <p class='postDate colorBlue'>{{ fav.adLostFk.date |date("d/m/Y") }}</p>
                                    <p>Perdu le : <span class='colorBlue'>{{ fav.adLostFk.dateLost |date("d/m/Y") }}</span></p>
                                    <p>Perdu à : <span class='colorBlue'>{{ fav.adLostFk.city }}</span></p>
                                    <p>Nom : <span class="colorBlue">{{ fav.adLostFk.name }}</span></p>
                                    <p>Race : <span class='colorBlue'>{{ fav.adLostFk.race }}</span></p>
                                    {% if fav.adLostFk.number != null and fav.adLostFk.number != "" %}
                                        <p>Numéro du tatouage ou de la puce : <span class="colorBlue">{{ fav.adLostFk.number }}</span></p>
                                    {% endif %}
                                    <p>Taille: <span class='colorBlue'>{{ fav.adLostFk.size }}</span></p>
                                    <p>Poils: <span class='colorBlue'>{{ fav.adLostFk.fur }}</span></p>
                                    <p>Couleur(s) du pelage :</p>
                                    <ul id="color" class="colorBlue">
                                        {% for color in fav.adLostFk.color %}
                                            <li>{{ color }}</li>
                                        {% endfor %}
                                    </ul>
                                    <p>Robe : <span class='colorBlue'>{{ fav.adLostFk.dress }}</span> </p>
                                    <p>Description : <span class='colorBlue'>{{ fav.adLostFk.description }}</span></p>
                                </div>
                            </a>
                        {% endfor %}
                    </div>
                {% else %}
                    <p class="colorWhite margin_15_0 center categoriesAnimal">Tu n'as pas encore ajouté d'annonce dans tes favoris !</p>
                {% endif %}

                <div>
                    <h1 class="titleAccount">Mes favoris de chiens et de chats trouvés</h1>
                    {% if app.user.favoriteFinds |length != 0 %}
                        <div id="containerLostAd" class="marginAuto">
                            {% for fav in app.user.favoriteFinds %}
                                <a href="{{ path("delete_favorite_find", {id: fav.id}) }}"><i class='fas fa-star star2 size20'></i></a>
                                <a href="{{ path("ad_find_one", {id: fav.adFindFk.id}) }}" class='post postTransform flexRow flexCenter colorGrey'>
                                    <div class='width_30'>
                                        {% if fav.adFindFk.picture == null or fav.adFindFk.picture == "" %}
                                            {% if fav.adFindFk.animal == "Chien" %}
                                                <img class='imagePet' src="{{asset('build/images/nonPhotoChien.png')}}" alt="Chien" >
                                            {% else %}
                                                <img class='imagePet' src="{{asset('build/images/nonPhotoChat.png')}}" alt="Chat">
                                            {% endif %}
                                        {% else %}
                                            <img class='imagePet' src="{{asset('build/images/adFind /' ~ fav.adFindFk.picture)}}" alt="{{ fav.adFindFk.animal }}">
                                        {% endif %}
                                    </div>
                                    <div class='flexColumn width_70 postAnimals'>
                                        <p class='titlePet'>{{ fav.adFindFk.animal }} ({{ fav.adFindFk.sex }})</p>
                                        <p class='postDate colorBlue'>{{ fav.adFindFk.date |date("d/m/Y") }}</p>
                                        <p>Trouvé le : <span class='colorBlue'>{{ fav.adFindFk.dateFind |date("d/m/Y") }}</span></p>
                                        <p>Trouvé à : <span class='colorBlue'>{{ fav.adFindFk.city }}</span></p>
                                        <p>Race : <span class='colorBlue'>{{ fav.adFindFk.race }}</span></p>
                                        {% if fav.adFindFk.number != null and fav.adFindFk.number != "" %}
                                            <p>Numéro du tatouage ou de la puce : <span class="colorBlue">{{ fav.adFindFk.number }}</span></p>
                                        {% endif %}
                                        <p>Taille: <span class='colorBlue'>{{ fav.adFindFk.size }}</span></p>
                                        <p>Poils: <span class='colorBlue'>{{ fav.adFindFk.fur }}</span></p>
                                        <p>Couleur(s) du pelage :</p>
                                        <ul id="color" class="colorBlue">
                                            {% for color in fav.adFindFk.color %}
                                                <li>{{ color }}</li>
                                            {% endfor %}
                                        </ul>
                                        <p>Robe : <span class='colorBlue'>{{ fav.adFindFk.dress }}</span> </p>
                                        <p>Description : <span class='colorBlue'>{{ fav.adFindFk.description }}</span></p>
                                    </div>
                                </a>
                            {% endfor %}
                        </div>
                    {% else %}
                        <p class="colorWhite margin_15_0 center categoriesAnimal">Tu n'as pas encore ajouté d'annonce dans tes favoris !</p>
                    {% endif %}
                </div>
            </div>
        </main>
    {% endif %}
{% endblock %}

